@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

.hidden {
  display: none;
}

.clickable2 {
display: block;
display: none;
font-size: 30px;
cursor: pointer;
font-family: papyrus;
}

.clickable1 {
margin: auto;
display: block;
text-align: center;
font-size: 50px;
font-family: papyrus;
cursor: pointer;
}
.clickable1:hover{
  /*font-size: 70px;*/
}
blockquote:hover{
  background-color: #80ffff;
}
.jumbotron {
  text-align: center;
  font-family: Rammetto One, cursive;
  color: #1a75ff;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

body {
  background-image: url("../img/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #441B10;

/*background: -moz-linear-gradient(top, rgba(30,87,153,1) 1%, rgba(124,184,231,0.2) 99%, rgba(125,185,232,0.2) 100%);
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 1%,rgba(124,184,231,0.2) 99%,rgba(125,185,232,0.2) 100%);
background: linear-gradient(to bottom, rgba(30,87,153,1) 1%,rgba(124,184,231,0.2) 99%,rgba(125,185,232,0.2) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#337db9e8',GradientType=0 );*/
}

.row {
  background-color: #EADFDC;
}
